.container-home > div {
  margin: 40px 0;

  display: flex;

  text-align: center;

  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  h1 {
    margin: 0 auto;
  }

  .nav-button {
    background-color: #cd6b0a;
    font-weight: bold;
  }

  .logout {
    background-color: #d82e04;
  }
}

div.show-element {
  display: block !important;
}

.visible-overflow {
  overflow-y: hidden;
}

div#dark-screen {
  display: none;

  position: absolute;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: #00000098;
  z-index: 9;
}
