$borderRadius: 5px;

.card-box {
  margin-bottom: 20px;

  padding: 10px;
  background-color: aliceblue;

  color: black;

  border-radius: $borderRadius;
  transition: transform 0.2s;

  button.container-img {
    width: 200px;
    padding: 0px;
    border: none;
    background-color: transparent;

    border-radius: $borderRadius;
    overflow: hidden;

    img {
      max-width: 100%;
      cursor: zoom-in;
    }
  }
}

.active {
  transform: scale(1.8) translate(50%, 50%);
}
